<a href="https://colab.research.google.com/github/HeatherAnnFoster/Spanish-Wine-Car-Insurance/blob/main/Car_Insurance_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a notebook where you have uploaded and shown the .head() of each of your data sets. For each of the proposed datasets, include the following information in text cells:

Second choice: dataset 2
1. Source of data

2. Brief description of data

3. What is the target?

4. What does one row represent? (A person?  A business?  An event? A product?)

5. Is this a classification or regression problem?

6. How many features does the data have?

7. How many rows are in the dataset?

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

In [2]:
import pandas as pd
df = pd.read_excel('/content/Project 2B.xlsx')
df.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1,after 2015,0,1,10238,12000.0,sedan,0,0,0,0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0,before 2015,0,0,10238,16000.0,sedan,0,0,0,1
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1,before 2015,0,0,10238,11000.0,sedan,0,0,0,0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1,before 2015,0,1,32765,11000.0,sedan,0,0,0,0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1,before 2015,0,0,32765,12000.0,sedan,2,0,1,1

#**Source of Data**

Kaggle.com

#**Brief Description of the Data**

Context

The company has shared its annual car insurance data. Now, you have to find out the real customer behaviors over the data.

Content

The columns are resembling practical world features. The outcome column indicates 1 if a customer has claimed his/her loan else 0. The data has 19 features from there 18 of them are corresponding logs which were taken by the company.

#**Target**

The target is whether the customer claimed their loan or not.  If they made a claim, there is a 1 in the "Outcome" column.  If they didn't make a claim, there is a 0 in the "Outcome" column.

#**What does one row represent? (A person? A business? An event? A product?)**

The ID, Age, Gender, Race, Married, and Children columns all represent a person.  The Driving Experience, Speeding Violations, DUI, and Past Accidents columns all represent the customer's responsibility while driving the vehicle.  The Income and Credit Score columns represent the fincancial ability of the customer.  The Vehicle Year, Postal Code, Annual Milage, and Vehicle Type represnt the vehicle and the number of miles the vehicle is driven.

#**Is this a classification or regression problem?**

Because the target is from the Outcomes column, it is a nomimal column.  The values are 0 and 1, meaning no and yes.  For this column, I would use OneHotEncoder while I am analyzing this dataset.  It is classification model.

#**How many features does the data have?**

There are 19 features.

In [4]:
df.shape

(10000, 19)

#**How many rows are in the dataset?**

There are 10,000 rows.

#**What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

I foresee duplicates, missing data and needing multiple preprocessors for various models on different columns.  I also think I will have multiple visualizations to see and show what different columns would look like when compared to others.  This might help determine what I need to tune later.