<a href="https://colab.research.google.com/github/HeatherAnnFoster/Spanish-Wine-Car-Insurance/blob/main/Spanish_Wine_or_Car_Insurance_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a notebook where you have uploaded and shown the .head() of each of your data sets. For each of the proposed datasets, include the following information in text cells:

First choice: dataset 1
1. Source of data

2. Brief description of data

3. What is the target?

4. What does one row represent? (A person?  A business?  An event? A product?)

5. Is this a classification or regression problem?

6. How many features does the data have?

7. How many rows are in the dataset?

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

In [10]:
import pandas as pd
df = pd.read_csv('/content/Project 2.A.csv')
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

#**Source of Data**

Kaggle.com

#**Brief Description of the Data**

Context

This dataset is related to red variants of spanish wines. The dataset describes several popularity and description metrics their effect on it's quality. The datasets can be used for classification or regression tasks. The classes are ordered and not balanced (i.e. the quality goes from almost 5 to 4 points). The task is to predict either the quality of wine or the prices using the given data.

Content

The dataset contains 7500 different types of red wines from Spain with 11 features that describe their price, rating, and even some flavor description. The was collected by me using web scraping from different sources (from wine specialized pages to supermarkets).

#**Target**

There are two possible targets for this dataset.  I will be looking at the quality of the wine of the Rating column for my target.

#**What does one row represent? (A person? A business? An event? A product?)**

The Winery, Year, Country, and Region represents the business or winery that the wine was produced in.  The Wine, Type, Body, and Acidity represents the wine itself or the product.  The Rating, Number of Reviews, and Price represent the sellability of the wine which would also be tied to the business aspect of the dataset.

#**Is this a classification or regression problem?**

Because the target is from the rating column, it is an ordinal column.  The values are 0 to 5, set up as 5 being the best and 0 being the worst.  For this column, I would use an ordinal transformer while I am analyzing this dataset.  It is classification model.

#**How many features does the data have?**

There are 11 features.

In [4]:
df.shape

(7500, 11)

#**How many rows are in the dataset?**

There are 7,500 rows.

#**What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

I foresee duplicates, missing data and needing multiple preprocessors for various models on different columns.  I also think I will have multiple visualizations to see and show what different columns would look like when compared to others.  This might help determine what I need to tune later.

In [ ]:
import pandas as pd
df = pd.read_excel('/content/Project 2B.xlsx')
df.head()

#**Source of Data**

Kaggle.com

#**Brief Description of the Data**

Context

The company has shared its annual car insurance data. Now, you have to find out the real customer behaviors over the data.

Content

The columns are resembling practical world features. The outcome column indicates 1 if a customer has claimed his/her loan else 0. The data has 19 features from there 18 of them are corresponding logs which were taken by the company.

#**Target**

The target is whether the customer claimed their loan or not. If they made a claim, there is a 1 in the "Outcome" column. If they didn't make a claim, there is a 0 in the "Outcome" column.

#**What does one row represent? (A person? A business? An event? A product?)**

The ID, Age, Gender, Race, Married, and Children columns all represent a person. The Driving Experience, Speeding Violations, DUI, and Past Accidents columns all represent the customer's responsibility while driving the vehicle. The Income and Credit Score columns represent the fincancial ability of the customer. The Vehicle Year, Postal Code, Annual Milage, and Vehicle Type represnt the vehicle and the number of miles the vehicle is driven.

#**Is this a classification or regression problem?**

Because the target is from the Outcomes column, it is a nomimal column. The values are 0 and 1, meaning no and yes. For this column, I would use OneHotEncoder while I am analyzing this dataset. It is classification model.

#**How many features does the data have?**

There are 19 features

In [ ]:
df.shape

**How many rows are in the dataset?**

There are 10,000 rows.

#**What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

I foresee duplicates, missing data and needing multiple preprocessors for various models on different columns. I also think I will have multiple visualizations to see and show what different columns would look like when compared to others. This might help determine what I need to tune later.